body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: red;
}

nav {
  padding-top: 1rem;
  background-color: #ffe37a;
  color: scarlet-red;
}

nav p {
  left: 25rem;
}

.intro {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://garden.spoonflower.com/c/9334652/p/f/l/smRhgBnH3gLqM_GSQxse7oHOxJZYsViX8-8WkK2QNLiypcRembiItkb1/Dice%20Pattern%20Alt%20Colors%203.jpg")
  background-position: center;
  background-repeat: none;
}

.intro img {
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.intro h1 {
  color: #fbffa1;
  font-size: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  background-color: rgba(0.5,0.5,0.5,0.5);
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  color: scarlet-red;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.event,
.quote,
.photos,
.schedule {
  margin: 4em auto;
}

.event {
  padding: 0 1rem;
}

.event p {
  color: white;
}

.quote {
  background-color: #ffe37a;
  height: 20rem;
  padding: 0 1rem;
  padding-top: 1rem;
  color: red;
}

.quote h1 {
  font-size: 2.5rem;
  color: red;
}

.event h2 {
  color: yellow;
}

.photos img {
  width: 30%;
  margin: 1.5%;
}

.schedule {
  margin-bottom: 2rem;
}

.schedule img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.schedule h1 {
  color: yellow;
  text-align: center;
}

@media only screen and (max-width: 1048px) {
  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 640px) {
  .intro h1 {
    margin-top: 2rem;
  }

  .intro {
    max-height: 200px;
  }

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .quote h1 {
    font-size: 2rem;
  }

  .photos img {
    width: 100%;
  }
}
